:root {
  --background: #cbe1ef;
  --card: hsl(193, 42%, 76%);
  --section: #9acde0;
  --text: rgb(51, 51, 51);
  --button: #fdf8e2;
  --button_hover: #ffddd3;
}
html,
body {
  min-height: 100%;
}
main > .container {
  padding: 70px 15px 20px;
}

.footer {
  background-color: #f5f5f5;
  font-size: 0.9em;
  height: 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  content: "";
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding-top: 7px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 0;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.register-button-style {
  background-color: rgb(167, 167, 167);
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: 300ms background-color ease-in-out;
}
.register-button-style:hover {
  background-color: rgb(131, 182, 240);
}
.active {
  background-color: rgb(32, 92, 161);
}

.active {
  background-color: #525252;
  border-radius: 0.25em;
}
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.25rem solid #111;
  padding: 0.5rem;
}
.home-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.home-list li {
  background-color: #121212;
  float: left;
  color: white;
  border-radius: 0.5em;
  transition: 400ms background-color ease-in;
}

.home-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: white;
}

.home-list li:hover {
  background-color: #616161;
}
h3 {
  float: right;
}
.hero-head {
  text-align: center;
}
.hero-text {
  width: calc(100% - 20vw);
  margin-inline: auto;
  margin-block: 15vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(0.8rem + 0.5vw);
}
.spacing {
  margin-top: 10vh;
}
.patient-container {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 25% auto;
  gap: 1em;
}

.patient-top {
  margin-top: 2em;
}

.patient-bottom {
  float: inline-start;
}

.button-color {
  background-color: #121212;
  border: none;
}

.form-box {
  padding: 1.75em 1.5em;
  background-color: rgb(223, 223, 223);
  border-radius: 0.25em;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.back-button {
  float: right;
  text-decoration: none;
  color: rgb(228, 226, 226);
  font-size: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.8rem 1rem;
  background-color: hsl(206, 11%, 12%);
  transition: 400ms background-color ease-in-out;
  box-shadow: 1.5px 1.5px 0.5px hsl(0deg 0% 0% / 0.35);
}
.back-button:hover {
  background-color: hsl(206, 11%, 32%);
  color: rgb(228, 226, 226);
}
.delete-button {
  position: absolute;
  top: 3rem;
  right: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.5rem 0.8rem;
  margin: 0.2em;
  background-color: hsl(342, 100%, 27%);
  transition: 400ms background-color ease-in-out;
}
.delete-button:hover {
  background-color: hsl(342, 100%, 17%);
  color: rgb(255, 255, 255);
}
.basic-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.5rem 0.8rem;
  margin: 0.2em;
  background-color: hsl(106, 100%, 25%);
  transition: 400ms background-color ease-in-out;
}
.basic-button:hover {
  background-color: hsl(106, 100%, 15%);
  color: rgb(255, 255, 255);
}
.view-button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.5rem 0.8rem;
  margin: 0.2em;
  background-color: hsl(106, 100%, 25%);
  transition: 400ms background-color ease-in-out;
}
.view-button:hover {
  background-color: hsl(106, 100%, 15%);
  color: rgb(255, 255, 255);
}
.edit-float {
  margin-top: 0.25em;
  float: left !important;
}
.custom-div {
  background-color: rgb(250, 250, 250);
  padding: 1.25em 1em;
  width: 70%;
  border-radius: 0.5em;
  box-shadow: 1.5px 1.5px 0.5px hsl(0deg 0% 0% / 0.35);
}
.referto-card {
  width: 100%;
  position: relative;
}

.custom-area {
  background-color: rgb(236, 229, 229);
  padding: 0.75em 1.25em;
  border: 0.15em solid rgb(129, 129, 129);
  border-radius: 0.5em;
  box-shadow: 1.5px 1.5px 0.5px hsl(0deg 0% 0% / 0.35);
}

/*
###########################################################################
###########################################################################
###########################################################################
###########################################################################
*/

.on-top {
  position: relative;
  z-index: 999;
  color: var(--text);
}
.color-button {
  background-color: var(--card) !important;
}
.color-button:hover {
  background-color: var(--button_hover) !important;
  color: var(--text);
}
.main-area {
  background-color: var(--card);
  margin-top: 3em;
  border-radius: 0.25em;
  width: 100%;
  padding: 1.5em 2em;
  box-shadow: 3px 3px 1px hsl(0deg 0% 0% / 0.35);
}
.title-area {
  margin-bottom: 0.5em;
}
.content-area {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1em;
  padding-bottom: 1.5em;
  font-size: 1.1em;
  border-bottom: 0.25em solid var(--background);
}

.w-background {
  background-color: var(--background);
  border-radius: 0.25em;
}

.area-button {
  padding-top: 1em;
  text-decoration: none;
  color: var(--text);
  font-size: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.8rem 1rem;
  background-color: var(--button);
  transition: 400ms background-color ease-in-out;
  box-shadow: 1.5px 2.5px 0.5px hsl(0deg 0% 0% / 0.35);
}
.area-button:hover {
  color: var(--text);
  background-color: var(--button_hover);
}
.centered {
  text-align: center;
}
.resize-center {
  width: 80%;
  margin: 0 auto;
}
.button-box {
  width: 100%;
  margin-block: 1.5em;
  padding-inline: 4em;
  display: grid;
  place-content: center;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}
.record-button {
  width: 80%;
  margin: 0 auto;
  color: var(--button);
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  padding: 0.8rem 1rem;
  background-color: var(--card);
  transition: 400ms background-color ease-in-out;
}
.record-button:hover {
  color: var(--text);
  background-color: var(--section);
}
.padd {
  padding-inline: 2em;
}
.rec-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rec-box audio {
  width: 60%;
}
.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25em;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 300ms transform ease-in-out;
}
.active-arrow-switch {
  background-color: transparent;
  transform: rotate(180deg);
}

.default-show {
  padding: 1.5em;
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hide {
  display: none;
}
.animation-box {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(26, 79, 226);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.25s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.dl-color {
  display: none;
  width: fit-content;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: 400ms background-color ease-in-out;
  background-color: hsl(96, 39%, 57%);
  border: none;
}
.dl-color:hover {
  color: hsl(0, 0%, 22%);
  background-color: hsl(96, 39%, 37%);
}
.button-link {
  text-decoration: none !important;
  color: hsl(0, 0%, 92%);
  text-align: center;
  padding: 0.8rem 1rem;
}
.button-link:hover {
  color: hsl(0, 0%, 92%);
}

@media screen and (max-width: 1200px) {
  section {
    flex-direction: column;
  }
  h3 {
    order: 1;
  }
  .home-list {
    order: 2;
  }
  .patient-container {
    grid-template-columns: 90%;
    grid-template-rows: auto;
    margin: auto;
  }
}

/*##############################################################
  ##############################################################
  ##############################################################*/
.content-grid {
  width: 100%;
  height: fit-content;
  display: grid;
  border: solid 0.05em hsl(0, 0%, 50%);
  grid-template-columns: repeat(5, auto);
}
.section-col {
  display: flex;
  border: none;
  border-right: solid 0.05em hsl(0, 0%, 50%);
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  padding-inline: 0;
}
.section-col h6 {
  font-weight: bold;
}
.section-col p,
h6 {
  margin: 0;
  padding: 0;
  padding-inline: 0.5em;
}
.section-line {
  width: 100%;
  height: 0.05em;
  background-color: hsl(0, 0%, 50%);
}
